extends layouts/layout.jade

block con
  style.
    body{margin:0; padding: 0; font-family: 'Hiragino Sans GB', Helvetica, Arial, 'STHeiti', 'WenQuanYi Micro Hei', sans-serif; background-color: #F0FEFF; line-height: 25px;}
    .banner{background-color: #E0CEB3;  color:#8C7A5E;   padding: 50px 0;text-align: center;}
    .banner h1{margin: 0;  font-size: 150px;}
    .container{width: 99%; max-width: 1000px; margin: 0 auto}
    img.item{margin: 20px;  box-shadow: 1px 1px 5px #BEBEBE; border-radius: 100%}
    #name-txt{border: none;  padding: 15px;  width: 200px;  margin: 50px 0;  outline: none;  border-radius: 100px;  font-size: 20px; text-align:center;}
    a{text-decoration: none}
    a#url{  display: inline-block;  background-color: #EEE;  padding: 10px 20px;  opacity: 0.5;  border-radius: 100px; color: #150E03}
    .logo{width: 400px; margin: 50px 0}
    .feature{background-color: #00C1E0; padding: 50px 0; overflow: hidden; color:#025360}
    .feature .inner{ }
    .feature .item {width:50%; float: left;  }
    .feature .inner{margin: 50px; background-color: #FFF;opacity: 0.5; padding: 50px; text-align:center;height: 150px;}
    .featitle{color: #0D7384; text-align:center; font-size: 40px}
    .demos{padding: 50px 0;}
    .footer{text-align:center; padding: 50px; background-color: #00B078;color: #055B41}
    .usage{background-color: #F2BB62; padding: 50px 0; overflow: hidden; color:#025360; text-align:center;color: #A86E10}
    .usage .featitle{color: #A86E10}
    #amount{font-size: 50px; margin: 0 10px; }
    table.params{width: 100%;border-right: #F7AB31 3px solid;border-top: #F7AB31 3px solid;}
    table.params td,table.params th{min-width: 100px;border-left: #F7AB31 3px solid; border-bottom: #F7AB31 3px solid; padding: 10px;}
    .customer{background-color: #E7F28B; padding: 50px; text-align:center ;color: #737D1E;}
    .customer .featitle {color: #737D1E}
    .customer .links a{margin: 50px; padding: 30px 50px; text-align:center; display: inline-block; color: #85902F;    border: #BABF59 5px dashed;     font-size: 20px;}


  div.banner
    img.logo(src="http://svpa.oss-cn-shanghai.aliyuncs.com/logo.png")
    p A simple fast stable and powerfull avatar service
    p(style="padding: 50px;")
      span Service
      span#amount 0
      span times  
    input#name-txt(type="text" placeholder="Nickname")
    p: img#preview(src="http://svpa.awesomes.cn/avatar?size=200")
    p: a#url(href="http://svpa.awesomes.cn/avatar?size=200" target="_blank")  http://svpa.awesomes.cn/avatar?size=200&font=default
  div.feature
    div.container
      h1.featitle Features
      div.item 
        div.inner
          h1 Simple
          p Just use http://svpa.awesomes.cn/[Nickname] you can achieve the avatar everywhere.

      div.item 
        div.inner
          h1 Fast
          p We use Node koajs lightweight framework,you can trust our speed.

      div.item 
        div.inner
          h1 Stable
          p We deploy the service on Aliyun ECS,We can offer the stable and continued service. 

      div.item 
        div.inner
          h1 Open source
          p We open the service on Github,under MIT license.
  
  div.usage
    div.container
      h1.featitle Usage
      h3 request 
      p 
        span http://svpa.awesomes.cn/avatar/[
        strong nickname
        span ]?size=[
        strong 100
        span ]&font=[
        strong default
        span ]
      h3 method
      p Get & Post
      h3 nickname
      p required. Support both English and Chinese
      h3 params
      table.params(cellspacing="0")
        tr
          th Name 
          th Required
          th Default
          th Description
        tr
          td size
          td optional
          td 50
          td The size of the avatar(both width and height is the same.The units is px) The value can be one of [50,100,200]

        tr
          td font
          td optional
          td default
          td The font of the  letter text.(avalible fonts is below)



  div.container.demos
    h1.featitle(style="color: #469DAC")  #{fonts.length} Avatar Fonts...
    -for font in fonts
      h3.featitle #{font.name} 
      - for item in ['a','b','c','d','e','f','g']
        img.item(src="http://svpa.awesomes.cn/avatar/#{item}"+font.name+"?size=100&font="+font.name)
  
  div.customer
    div.container
      h1.featitle Who are using?
      div.links
        a(href="https://www.awesomes.cn" target="_blank") Awesomes-cn
      p
        span If you are using svpa and  want to appear here, just tell us through our email: 
        strong 1246996371@qq.com

  div.footer
    p
      span We open the source on 
      a(href="https://github.com/awesomes-cn/svpa" target="_blank") Github
    p
      span If you have any problem or suggest,we always wait and welcome you on 
      a(href="https://gitter.im/awesomes-cn/svpa" target="_blank") Gitter
      span(style="padding: 0 5px;") or 
      a(href="http://weibo.com/awesomescn" target="_blank") Weibo
  
  script(src="http://awesome-cnd.oss-cn-beijing.aliyuncs.com/socket.io.js")
  script(type='text/javascript').
    $(function(){
      $("#name-txt").keyup(function(){
        var url = "http://svpa.awesomes.cn/avatar/"+$(this).val()+"?size=200&font=default";
        $("#url").html(url).attr("href",url);
        $("#preview").attr("src",url)
      })

     
      var now = 0;
      var timer = setInterval(function(){
        var step = #{parseInt(nowcount / 20)};
        $("#amount").html(now);
        now = now + step;
        if(now >= #{nowcount}){
          clearInterval(timer);
          $("#amount").html(#{nowcount});
          set_socket();
        }
      },100)
      
    })     

    function set_socket(){
      var socket = io('http://svpa.awesomes.cn');
      socket.on('notify', function(data){
        $("#amount").html(data.item.amount);
      });
    }  
